@font-face{
    font-family: 'Fira Code';
    src: url('{{ .Site.BaseURL }}fonts/FiraCode-Regular.eot');
    src: url('{{ .Site.BaseURL }}fonts/FiraCode-Regular.eot?#iefix') format('embedded-opentype'),
         url('{{ .Site.BaseURL }}fonts/FiraCode-Regular.woff2') format('woff2'),
         url('{{ .Site.BaseURL }}fonts/FiraCode-Regular.woff') format('woff'),
         url('{{ .Site.BaseURL }}fonts/FiraCode-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Charter';
    src: url('{{ .Site.BaseURL }}fonts/charter_regular-webfont.eot');
    src: url('{{ .Site.BaseURL }}fonts/charter_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('{{ .Site.BaseURL }}fonts/charter_regular-webfont.woff') format('woff'),
         url('{{ .Site.BaseURL }}fonts/charter_regular-webfont.ttf') format('truetype');
    font-display: fallback;
}

@font-face {
    font-family: 'Charter';
    src: url('{{ .Site.BaseURL }}fonts/charter_bold-webfont.eot');
    src: url('{{ .Site.BaseURL }}fonts/charter_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('{{ .Site.BaseURL }}fonts/charter_bold-webfont.woff') format('woff'),
         url('{{ .Site.BaseURL }}fonts/charter_bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-display: fallback;
}

@font-face {
    font-family: 'Charter';
    src: url('{{ .Site.BaseURL }}fonts/charter_italic-webfont.eot');
    src: url('{{ .Site.BaseURL }}fonts/charter_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('{{ .Site.BaseURL }}fonts/charter_italic-webfont.woff') format('woff'),
         url('{{ .Site.BaseURL }}fonts/charter_italic-webfont.ttf') format('truetype');
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Charter';
    src: url('{{ .Site.BaseURL }}fonts/charter_bold_italic-webfont.eot');
    src: url('{{ .Site.BaseURL }}fonts/charter_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('{{ .Site.BaseURL }}fonts/charter_bold_italic-webfont.woff') format('woff'),
         url('{{ .Site.BaseURL }}fonts/charter_bold_italic-webfont.ttf') format('truetype');
    font-style: italic;
    font-weight: bold;
    font-display: fallback;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('{{ .Site.BaseURL }}fonts/FiraSans-Book.eot');
    src: url('{{ .Site.BaseURL }}fonts/FiraSans-Book.eot?#iefix') format('embedded-opentype'),
         url('{{ .Site.BaseURL }}fonts/FiraSans-Book.woff2') format('woff2'),
         url('{{ .Site.BaseURL }}fonts/FiraSans-Book.woff') format('woff'),
         url('{{ .Site.BaseURL }}fonts/FiraSans-Book.ttf') format('truetype');
    font-display: fallback;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('{{ .Site.BaseURL }}fonts/FiraSans-Bold.eot');
    src: url('{{ .Site.BaseURL }}fonts/FiraSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('{{ .Site.BaseURL }}fonts/FiraSans-Bold.woff2') format('woff2'),
         url('{{ .Site.BaseURL }}fonts/FiraSans-Bold.woff') format('woff'),
         url('{{ .Site.BaseURL }}fonts/FiraSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-display: fallback;
}
