<!-- Close the 'content' div -->
    </div>

<!-- Footer content -->
    <div id="footer">
        {{ partial "social.html" . }}
        <p class="copyright">
            &copy; {{ dateFormat "2006" now }} {{ .Site.Params.CopyrightOwner }}
        </p>
        <p class="h-card">
          <img class="u-photo" src="{{ .Site.BaseURL }}{{ .Site.Params.Avatar }}" />
          <a class="p-name u-url" href="{{ .Site.Home }}" rel="me">{{ .Site.Params.AuthorName }}</a>
          <a class="u-email" href="{{  }}">{{ .Site.Params.IndieWeb.EmailAddress }}</a>, 
          <span class="p-locality">{{ .Site.Params.IndieWeb.City }}</span>
          <span class="p-country-name">{{ .Site.Params.IndieWeb.Country }}</span>
        </p>
    </div>

<!-- Close the body/html document -->
</body>
</html>