<head>
    <meta charset="utf-8">
    <!-- Site details -->
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
    <meta name="author" content="{{ .Site.Params.AuthorName }}">
    <!-- Favicon details -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#00416a">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#ffffff">
    <!-- IndieWeb identity -->
    {{ with .Site.Params.IndieWeb.EmailAddress }}<link rel="me" href="mailto:{{ . }}">{{ end }}
    {{ with .Site.Params.IndieWeb.GitHubUser }}<link rel="me" href="https://github.com/{{ . }}">{{ end }}
    {{ with .Site.Params.IndieWeb.TwitterUser }}<link rel="me" href="https://twitter.com/{{ . }}">{{ end }}
    {{ with .Site.Params.IndieWeb.MicroBlogUser }}<link rel="me" href="https://micro.blog/{{ . }}">{{ end }}
    <!-- IndieAuth endpoint -->
    <link rel="authorization_endpoint" href="https://indieauth.com/auth">
    <!-- Other stuff to make the site work -->
    <style type="text/css">{{ partial "fonts.css" . | safeCSS }}</style>
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
