<head>
    <meta charset="utf-8">
    <!-- Site details -->
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
    <meta name="author" content="{{ .Site.Params.AuthorName }}">
    <!-- Favicon details -->
    <link rel="apple-touch-icon" sizes="180x180" href={{ "apple-touch-icon.png" | absURL }}>
    <link rel="icon" type="image/png" sizes="32x32" href={{ "favicon-32x32.png" | absURL }}>
    <link rel="icon" type="image/png" sizes="16x16" href={{ "favicon-16x16.png" | absURL }}>
    <link rel="manifest" href={{ "site.webmanifest" | absURL }}>
    <link rel="mask-icon" href={{ "safari-pinned-tab.svg" | absURL }} color="#00416a">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#ffffff">
    <!-- IndieWeb identity -->
    {{ with .Site.Params.IndieWeb.EmailAddress }}<link rel="me" href="mailto:{{ . }}">{{ end }}
    {{ with .Site.Params.IndieWeb.GitHubUser }}<link rel="me" href="https://github.com/{{ . }}">{{ end }}
    {{ with .Site.Params.IndieWeb.TwitterUser }}<link rel="me" href="https://twitter.com/{{ . }}">{{ end }}
    {{ with .Site.Params.IndieWeb.MicroBlogUser }}<link rel="me" href="https://micro.blog/{{ . }}">{{ end }}
    <!-- IndieWeb endpoints -->
    <link rel="authorization_endpoint" href={{ .Site.Params.endpoints.Auth | default "https://indieauth.com/auth" }} />
    <link rel="token_endpoint" href={{ .Site.Params.endpoints.Token | default "https://tokens.indieauth.com/token" }} />
    {{ with .Site.Params.endpoints.Micropub }}
    <link rel="micropub" href="{{ . }}" />{{ end }}
    {{ with .Site.Params.endpoints.Microsub }}
    <link rel="microsub" href="{{ . }}" />{{ end }}
    {{ with .Site.Params.endpoints.Webmention}}
    <link rel="webmention" href="{{ . }}" />{{ end }}
    <!-- Other stuff to make the site work -->
    <link rel="stylesheet" href={{ "css/fonts.css" | absURL }} />
    <link rel="stylesheet" href={{ "css/style.css" | absURL }} />
    {{ if (fileExists "static/css/custom.css") -}}
    <link rel="stylesheet" href={{ "css/custom.css" | absURL }} />
    {{- end }}
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
