<nav>
    {{ $currentPage := . }}
    <div id="page-nav">
        <!--
            Left-most entry is a link to the next-newest article, if we're
            looking at posts, or a spacer if we're either on the home page or a
            menu-content page.
        -->
        {{ if and (.Prev) (not .Params.Menu) }}
        <div class="static-page-nav-item">
            <a alt="Newer article" href="{{ .Prev.Permalink }}">&larr; Newer</a>
        </div>
        {{ else }}
        <div class="static-page-nav-spacer">&nbsp;</div>
        {{ end }}

        <!-- Next, the menu of static content pages (e.g., about, now). -->
        <div class="static-page-nav-item">
            <a alt="Home" href="{{ .Site.BaseURL }}">Home</a>
        </div>
        {{ range .Site.Menus.main }}
            <div class="static-page-nav-item">
                <a href="{{ .URL }}">
                    {{ .Pre }}
                    <span>{{ .Name }}</span>
                </a>
            </div>
        {{ end }}

        <!--
            Right-most entry is a link to the next-oldest article if we're
            looking at posts, or a spacer if we're either on the home page or a
            menu-content page.
        -->
        {{ if and (.Next) (not .Params.Menu) }}
        <div class="static-page-nav-item">
            <a alt="Older article" href="{{ .Next.Permalink }}">Older &rarr;</a>
        </div>
        {{ else }}
        <div class="static-page-nav-spacer">&nbsp;</div>
        {{ end }}
    </div>
</nav>