<aside id="social">
  <div id="social-icons">
    {{ if isset .Site.Params "emailaddress" }}
    <div class="icon-24x24">
      <a class="glyph" alt="Email me" href="mailto:{{ .Site.Params.EmailAddress }}"><img src={{ "icons/envelope.svg" | absURL }} height="24px" width="24px"></a>
    </div>
    {{ end }}
    {{ if isset .Site.Params "facebookuser" }}
    <div class="icon-24x24">
      <a class="glyph" alt="Facebook profile" href="{{ .Site.Params.FacebookUser }}"><img src={{ "icons/facebook.svg" | absURL }} height="24px" width="24px"></a>
    </div>
    {{ end }}
    {{ if isset .Site.Params "flickruser" }}
    <div class="icon-24x24">
      <a class="glyph" alt="Flickr profile" href="https://flickr.com/people/{{ .Site.Params.FlickrUser }}"><img src={{ "icons/flickr.svg" | absURL }} height="24px" width="24px"></a>
    </div>
    {{ end }}
    {{ if isset .Site.Params "githubuser" }}
    <div class="icon-24x24">
      <a class="glyph" alt="GitHub profile" href="https://github.com/{{ .Site.Params.GitHubUser }}"><img src={{ "icons/github.svg" | absURL }} height="24px" width="24px"></a>
    </div>
    {{ end }}
    {{ if isset .Site.Params "gitlabuser" }}
    <div class="icon-24x24">
      <a class="glyph" alt="GitLab profile" href="https://gitlab.com/{{ .Site.Params.GitLabUser }}"><img src={{ "icons/gitlab.svg" | absURL }} height="24px" width="24px"></a>
    </div>
    {{ end }}
    {{ if isset .Site.Params "glitchuser" }}
    <div class="icon-24x24">
      <a class="glyph" alt="Glitch profile" href="https://glitch.com/@{{ .Site.Params.GlitchUser }}"><img src={{ "icons/glitch.svg" | absURL }} height="24px" width="24px"></a>
    </div>
    {{ end }}
    {{ if isset .Site.Params "keybaseuser" }}
    <div class="icon-24x24">
      <a class="glyph" alt="Keybase profile" href="https://keybase.io/{{ .Site.Params.KeybaseUser }}"><img src={{ "icons/keybase.svg" | absURL }} height="24px" width="24px"></a>
    </div>
    {{ end }}
    {{ if isset .Site.Params "linkedinuser" }}
    <div class="icon-24x24">
      <a class="glyph" alt="LinkedIn profile" href="https://www.linkedin.com/in/{{ .Site.Params.LinkedInUser }}"><img src={{ "icons/linkedin.svg" | absURL }} height="24px" width="24px"></a>
    </div>
    {{ end }}
    {{ if isset .Site.Params "mediumuser" }}
    <div class="icon-24x24">
      <a class="glyph" alt="Medium profile" href="https://medium.com/{{ .Site.Params.MediumUser }}"><img src={{ "icons/medium.svg" | absURL }} height="24px" width="24px"></a>
    </div>
    {{ end }}
    {{ if isset .Site.Params "microbloguser" }}
    <div class="icon-24x24">
      <a class="glyph" alt="Micro.Blog profile" href="https://micro.blog/{{ .Site.Params.MicroBlogUser }}"><img src={{ "icons/microblog.svg" | absURL }} height="24px" width="24px"></a>
    </div>
    {{ end }}
    {{ if isset .Site.Params "reddituser" }}
    <div class="icon-24x24">
      <a class="glyph" alt="Reddit profile" href="https://www.reddit.com/user/{{ .Site.Params.RedditUser }}"><img src={{ "icons/reddit-alien.svg" | absURL }} height="24px" width="24px" /></a>
    </div>
    {{ end }}
    {{ if isset .Site.Params "stackoverflowuser" }}
    <div class="icon-24x24">
      <a class="glyph" alt="Stack Overflow profile" href="https://stackoverflow.com/users/{{ .Site.Params.StackOverflowUser }}"><img src={{ "icons/stack-overflow.svg" | absURL }} height="24px" width="24px"></a>
    </div>
    {{ end }}
    {{ if isset .Site.Params "tumblruser" }}
    <div class="icon-24x24">
      <a class="glyph" alt="Tumblr profile" href="https://{{ .Site.Params.TumblrUser }}.tumblr.com/"><img src={{ "icons/tumblr.svg" | absURL }} height="24px" width="24px"></a>
    </div>
    {{ end }}
    {{ if isset .Site.Params "twitteruser" }}
    <div class="icon-24x24">
      <a class="glyph" alt="Twitter profile" href="https://twitter.com/{{ .Site.Params.TwitterUser }}"><img src={{ "icons/twitter.svg" | absURL }} height="24px" width="24px"></a>
     </div>
     {{ end }}
  </div>
</aside>
