<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}
<body>
    <div id="sitelogo">
        <a class="glyph" alt="Home" href="{{ .Site.BaseURL }}"><img src={{ "images/site-logo.svg" | absURL }} alt="Site Logo" height="64px" width="64px"></a>
    </div>
    <header>
        {{ partial "pagenav.html" . }}
        <h1 class="post-title">404</h1>
    </header>
    <div id="content">
        <section>
            <h2>Whoops.</h2>
            <p>
                The page you were looking for doesn't exist. Would you like to <a href="{{ .Site.BaseURL }}">go to the home page</a>?
            </p>
        </section>
    </div>
{{ partial "footer.html" . }}
